{% extends 'home/base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}

{% block content %}
    {% include 'include/alert.html' %}
    {% include 'include/hotel_navbar.html' %}
    {% load hotel_tag %}
    <div class="container py-5">
        <div class="row">
            <div class="col-6 text-center"><a href="/hotel/running_table/"   class="btn btn-success" >चालू टेबल / नवीन टेबल / पेड-अनपेड बिल </a></div>
            <div class="col-6 text-center"><a href="/hotel/complate_order/"   class="btn btn-danger" >पूर्ण झालेले बिल </a></div>
        </div>
        {% todays_sell hotel.id %}
    </div>

    <div class="text-center">
        <a href="https://old.tejorder.com" class="btn btn-success">Old Website</a>
    </div>

{% endblock content %}