{% extends 'home/base.html' %}
{% block title %}complate order{% endblock title %}
{% block content %}
<style>
  .addvertise{
    display: none;
  }
</style>
<style media="print">
  @page{
  size: 3in 10in;
  margin: 0in;
  padding: 0in;
} 

#p{
  display: none;
}

#t{
  font-size: 14px;

}
#order_item_head{
  line-height: 6px;
}
#order_item{
  line-height: 12px;
}
.addvertise{
  display: unset;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}
#thank_you{
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-bottom: -0.05in;
}
</style>

<h id="p" class="p-5">Welcome - {{hotel.hotel_name}}</h>
<div id="p" class="container p-5  border rounded">
  <a id="p" href="/hotel/running_table/"   class="btn btn-success px-5 btn-sm" >चालू टेबल</a>
</div>

<div class="container border">
<div class="row">
  <div class="col-11">
<h3 class="text-center">{{hotel.hotel_name}}</h3>
</div>
</div>
<div class="row">

  <div class="col-11">
<h6 class="text-center">{{hotel.address}}</h6>
</div>
</div>

<div class="row">
  <div class="col-6"> <h6>Bill-{{om.order_filter}}</h6> </div>
  <div class="col-6"><h6>{{om.table.name}}</h6></div>
</div>

  <div>
    <h6>Date- {{om.ordered_date}}</h6>
  </div>
</div>




<div class="container border">
      
    <table id="t" class="table mb-0">
      
      <thead>
        <tr>
          <div class="row">
          <div class="col-8"><th id="order_item_head">Item </th></div>
          <div class="col-1"><th id="order_item_head">Qty</th></div>
          <div class="col-1"><th id="order_item_head">Price</th></div>
          <div class="col-2"><th id="order_item_head">Price</th></div>
        </div>
        </tr>
      
      </thead>
      <tbody>
        {% for o in od %}
        <tr>
          <div class="row">
          <div class="col-8" ><td id="order_item">{{o.item_name}}</td></div>
          <div class="col-1" ><td id="order_item">{{o.qty}}</td></div>
          <div class="col-1" ><td id="order_item">{{o.price}}</td></div>
          <div class="col-2" ><td id="order_item">{{o.total_price}}</td></div>
        </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h6>Sub Total Rs.{{om.total_price}}</h6>
    {% if hotel.gst_status == 1 %}
    <h6 {% if order_master.s_gst == 0 %} class="hide"{% endif %}>S Gst Rs.{{om.s_gst}}</h6>
    <h6 {% if order_master.c_gst == 0 %} class="hide"{% endif %}>C Gst Rs.{{om.c_gst}}</h6>
    <h6><b>Total Amount Rs.{{total_price}}</b></h6>
    {% endif %}
    {% if hotel.discount_status == 1 %}
    <h6 {% if om.discount_amount == 0.0 %} style="display: none;" {% endif %}>Discount Amount Rs.{{om.discount_amount}}</h6>
    <h6><b>Total Amount Rs.{{total_price}}</b></h6>
    {% endif %}
    {% if qr_status == '1' %}
    <div class="text-center" id="qr_box" style="display: grid;grid-template-columns: 1fr 3fr;">
      <canvas  id="qrCode"></canvas>
      <b >Scan QR And Pay Amount</b>
    </div>
    {% endif %}
    <h6 id="thank_you">Thank You Visit Again</h6>
    <div class="addvertise">All type Mobile Software  9730 99 1252 <br></div>
    <div class="addvertise">.</div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <script>
      if('{{qr_status}}' == '1'){
        const qrCodeElement = document.getElementById('qrCode');
        qrCodeElement.getContext('2d').clearRect(0, 0, qrCodeElement.width, qrCodeElement.height);
        
        const qr = new QRious({
          element: qrCodeElement,
          value: `upi://pay?pa={{hotel.upi_id}}&pn={{hotel.hotel_name}}&am={{total_price}}&cu=INR`,
          size: 80,
        });
      }

      window.print();



  </script>

{% endblock content %}

