{% extends 'home/base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock head %}

{% block content %}
{% include 'include/hotel_navbar.html' %}
{% load static %}
{% load hotel_tag %}
{% include 'include/alert.html' %}
<style>
    .container_box {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 10px;
        justify-content: center;
    }
    .table_box{
        padding: 10px;
        border: 1px solid rgb(138, 136, 136);
        border-radius: 10px;
        text-align: center;
        
}
</style>
<div class="text-center">
    <style>
        /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    border-radius: 50%;
  outline: 2px solid rgb(0, 0, 0);
  padding: 5px;
  width: 60px;
height: 60px;

}
label{
    margin-left: 12px;
}
label>img{
    width: 50px;
    height: 50px;
}
    </style>
    <form id="colorForm">

        <label>
            <input type="radio" name="background" value="blue">
            <img src="{% static 'img/blue.jpg' %}" alt="Option 1">
      </label>
      
      <label>
        <input type="radio" checked name="background" value="red">
        <img  src="{% static 'img/red.jpg' %}" alt="Option 2">
    </label>
    
    <label>
        <input type="radio" name="background" value="yellow">
        <img  src="{% static 'img/yellow.jpg' %}" alt="Option 2">
    </label>
</form>
</div>
<br>
<div class="container container_box text-center">
{% for t in table %}
<div class="table_box">
    {% check_table_running_status_qr_status t.id as n %}
    <h6 >{{t.name}} {{t.id}}</h6>
    {% if n.qr_status == 1 %}
        <div style="text-align: center;">
            {% if n.running_status == 1 %} 
            <div class="text-center">
                <form method="POST"><input type="hidden" name="id" value="{{t.id}}"><button type="submit" name="reset_table" class="btn">Reset <i class="fa-solid fa-arrows-rotate"></i></button></form> 
            </div>
            {% endif %}
            <div class="text-center">
                <form method="POST" style="display: flex;justify-content: center;align-items: center;">
                    <input type="hidden" name="id" value="{{t.id}}">
                    <div>Status</div>
                    {% if n.active_status == 1 %}
                    <div class="form-check form-switch form-check-reverse lable ">
                        <button class="btn" type="submit" name="active" id="active_btn{{t.id}}">
                            <input class="form-check-input" onclick="document.getElementById('active_btn{{t.id}}').click()" type="checkbox" id="flexSwitchCheckReverse" name="life_weight"  checked >                        
                        </button>
                    </div>
                    <div>ON</div>
                    {% else %}
                    <div class="form-check form-switch form-check-reverse lable ">
                        <button class="btn" type="submit" name="deactive" id="deactive_btn{{t.id}}">
                            <input class="form-check-input" onclick="document.getElementById('deactive_btn{{t.id}}').click()"  type="checkbox" id="flexSwitchCheckReverse" name="life_weight" >                        
                        </button>
                    </div>
                    <div>OFF</div>
                    {% endif %}
                </form> 
            </div>
        </div>
    {% endif %}
    <div>
        <a onclick="download_table_image('{{t.id}}')" class="btn btn-outline-success">Download QrCode <i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
{% endfor %}
</div>

<script>
    function download_table_image(id){
        const form = document.getElementById('colorForm');
        const formData = new FormData(form);
        const selectedColor = formData.get('background');
        location.href = `/table_qr/generate_table_qrcode/${id}/${selectedColor}`
    }
</script>
{% endblock content %}