{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/hotel_navbar.html' %}
{% load hotel_tag %}



<div class="container py-2">
  <div class="row">
      <div class="col-12 text-center"><a href="/hotel/running_table/"   class="btn btn-success" >चालू टेबल / नवीन टेबल / पेड-अनपेड बिल </a></div>
  </div>
</div>



<style>

    .tmc{
      font-weight: 700;
      color: black;
      font-size: 22px;
      background-color: rgba(166, 255, 187, 0.2);
    }
  </style>
<div class="container border my-2">
    <div>
    <h5>Table-{{table.name}}</h5>
    </div>
</div>
    <div class="container border">
      <div id="cart">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Qty</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="cart_item" >

        {% for t in cart %}
        
        <tr>
         
          <td>{{t.item.marathi_name}} {{t.note}}</td>
          <td>{{t.qty}}</td>
          <td>{{t.price}}</td>
          <td>{{t.total_amount}}</td>
          <td>{% if t.cook_status == 'Pendding' %}<h4 class="text-bg-danger text-center">Pending</h4>{% else %}<h4 class="text-bg-success text-center ">{{t.cook_status}}</h4>{% endif %}</td>
          <td><form action="" method="POST">{% csrf_token %}<input type="hidden" name="cart_id" value="{{t.id}}"><button type="submit" class="btn btn-transparent text-danger btn-sm" name="Delete">X</button></form></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    
    
    </div>
  





<!---------------------------------------------------------->
<div class="body_main_box container">
<style>
    .body_main_box{
      display: grid;
      grid-template-columns: 0.9fr 3fr;
      gap: 10px;
      width: 100%;
      margin: auto;
      padding-right: 10px; 
    }
    .category_btn{
      width: 50%;
    }
    .dish_main_box{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 220px);
        gap: 10px;
        width: 80%;
        margin: 20px auto;
        justify-content: center;
    }
    .dish_box{
      box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        height: fit-content;
        position: relative;
    }
    .name{
        font-weight: 700px;
    } 
    .flex{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    @keyframes rotate {
    0% {
      background-color: rgb(0, 0, 0);
    }
    99%{
      transform: translatey(-700px) rotate(45deg);
    }
    100%{
      transform: translatey(70px) rotate(45deg);
    } 
  }

    @media only screen and (max-width: 600px) {
      .category_btn{
        width: 100%;
      }
    }
</style>



<div class="mt-4 mb-2">
  {% for c in category %}
    <button class="btn btn-success category_btn mt-1" id="category_btn{{c.id}}" onclick="filterItems('{{ c.id }}')" >{{ c.name }}</button>
  {% endfor %}
</div>


<div class="dish_main_box" id="item_ruselt">
  {% for i in item %}

  <input type="hidden" name="id" value="{{i.id}}">
<input type="hidden" name="price" value="{{i.price}}">
<div class="dish_box">
  <div class="name"><b>{{i.marathi_name}}</b></div>
    <div>
        <div><input type="text" name="" style="width: 180px; border: none; text-align: center;" placeholder="Note" id="note{{i.id}}"></div>
      <div class="row my-1 text-center">
        <div class="col-3"><button type="button" onclick="minus('{{i.id}}','{{i.price}}')" class="btn btn-success btn-sm px-3">-</button></div>
        <div class="col-5"><input type="text" name="qty" style="width: 50px; text-align: center;" id="qty{{i.id}}" value="1" ></div>
        <div class="col-3"><button type="button" onclick="plus('{{i.id}}','{{i.price}}')" class="btn btn-success btn-sm px-3">+</button></div>
    </div>
    <div class="flex">
        <div class="mt-2"  >Rs.<input style="border: none; width: 70px;" type="text" name="total_amount"  id="price{{i.id}}" value="{{i.price}}"></div>
        <div style="width: 40%;"><button type="button" class="mt-2 btn btn-danger btn-sm mx-auto conform_btn" id="add_tp_cart_btn{{i.id}}"  onclick="add_to_cart('{{i.id}}','{{i.price}}')">Confirm </button></div>
      </div>
    </div>
</div>
  
  {% endfor %}
</div>
</div>
<br>
<br>
<br>
<br>
<br>

</div>

<style>
  .footer{
    background-color: antiquewhite;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 2.5fr 0.1fr 3fr;
  }
</style>


<div class="footer">
    <div><input type="text" oninput="search_hotel_item()" class="form-control" placeholder="Search Item" id="words"></div>
    <div style="display: flex;justify-content: center;align-items: center;">Rs.<input type="readonly" style="width: 100px;" id="amount" value="{{amount}}" class="text-center" disabled></div>
    <div style="text-align: end;">
      <form method="POST" id="complete_order_btn" {% if cart %}{% else %} style="display: none;" {% endif %} > {% csrf_token %}
        <div class="container"><button type="submit"  name="complete_order" class="btn btn-danger btn-sm " >Complete Order</button></div>
      </form> 
    </div>
  </div>


<script>
  last_category_id = ''
function  filterItems(category_id){
      if (last_category_id){
        document.getElementById('category_btn'+last_category_id).className = "btn btn-success category_btn mt-1"
      }
      document.getElementById('category_btn'+category_id).className = "btn btn-warning category_btn mt-1"
      last_category_id = category_id
  $.ajax({
    url: "{% url 'filter_items_by_category' %}",
    method: "GET",
    data: {
      category_id: category_id,
    },
    success: function(res) {
      document.getElementById('item_ruselt').innerHTML = res.t;
    }
  });

}

function add_to_cart(id){
    var qty = document.getElementById('qty'+id).value
    var note = document.getElementById('note'+id).value
    var price = document.getElementById('price'+id).value
    p=qty*price

    $.ajax({
    url: "{% url 'add_item_to_hotel_cart_admin' %}",
    method: "GET",
    data:{
        table_id:'{{table.id}}',
        item_id:id,
        price:price,
        qty:qty,
        note:note,
        total_amount:p,
        hotel_id:'{{hotel.id}}'
    },
    success: function(res){
        document.getElementById('amount').value = res.amount
        document.getElementById('complete_order_btn').style.display = 'unset'
        document.getElementById('cart_item').innerHTML = res.t
    }
  })
}
    
function search_hotel_item(){
  $.ajax({
    url: "{% url 'search_hotel_item' %}",
    method: "GET",
    data:{
      words:document.getElementById('words').value,
      table_id:'{{table_id}}'
    },
    success: function(res){
      document.getElementById('item_ruselt').innerHTML = res.t
    }
  })
}

last_id = ''
function item_detail(id){
  document.getElementById('item_detail'+id).style.display = 'unset'
    if(last_id){
      if(document.getElementById('item_detail'+last_id)){
        document.getElementById('item_detail'+last_id).style.display = 'none'
      }
    }
    last_id = id

}

function plus(id,price){
  var qty = document.getElementById('qty'+id).value
  if(qty < 50){
    qty++;
  document.getElementById('qty'+id).value=qty;
  p=qty*price
  //document.getElementById('price'+id).value=p;
    //speak code
    
  const msg = new SpeechSynthesisUtterance;
  msg.text=qty;
  
  msg.voice=speechSynthesis.getVoices()[1];
  speechSynthesis.speak(msg);


//ajax
 


  }
}
    
  // minus btn code

    function minus(id,price){
  var qty = document.getElementById('qty'+id).value
  if(qty > 1){
  qty--;
  document.getElementById('qty'+id).value=qty;
  p=qty*price
  //document.getElementById('price'+id).value=p;

        //speak code
    
        const msg = new SpeechSynthesisUtterance;
  msg.text=qty;
  
  msg.voice=speechSynthesis.getVoices()[1];
  speechSynthesis.speak(msg);
  }
  if(qty == 0){
    document.getElementById('item_detail'+id).style.display = 'none'

  }
    }
    

</script>


{% endblock content %}