{% for t in runing_table %}
              <div>

              <tr>
                <td>
                  <h6 class="text-center">
                    {{t.name}}
                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{t.id}}"><i class="fas fa-edit    "></i></button>
                  </h6>
                </td>
                <td><a href="/hotel/view_order/{{t.id}}"  class="btn btn-success btn-sm">View</a></td>
              </tr>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{t.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{t.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
              <div class="modal-body">
                  {% csrf_token %}
                    <select class="form-control" name="" id="new_table{{t.id}}">
                      <option value="">{{t.name}}</option>
                      {% for t in table %}
                        <option value="{{t.id}}" {% if t.status == 'yes' %} style="display: none;" {% endif %}>{{t.name}}</option>
                      {% endfor %}
                    </select>
                    <br>
                  <button type="button" data-bs-dismiss="modal" onclick="chang_table_name('{{t.id}}')" class="btn btn-danger" name="chang_table">Select</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
              {% endfor %}