{% load static %}
{% load hotel_tag %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100"><img data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200" style="width: 40px;height: 40px;border-radius: 50%;" src="{% static 'img/logo.jpg' %}" alt=""><b style="color: orangered;">Tej</b> Order</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/hotel_home/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100" {% endif %}  aria-current="page" href="/hotel/hotel_home/">Home</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/running_table/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="150" {% endif %}  aria-current="page" href="/hotel/running_table/">Running Table</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/report/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200" {% endif %}  aria-current="page" href="/hotel/report/">Report</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/terms_and_conditions/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200" {% endif %}  aria-current="page" href="/terms_and_conditions/">Terms And Conditions</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/table/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250" {% endif %}  aria-current="page" href="/hotel/table/">Table</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/item/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="350" {% endif %}  aria-current="page" href="/hotel/item/">Item</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/category/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="450" {% endif %}  aria-current="page" href="/hotel/category/">Category</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/employee/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="550" {% endif %}  aria-current="page" href="/hotel/employee/">Employee</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/profile/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="650" {% endif %}  aria-current="page" href="/hotel/profile/">Profile</a>
        </li>
        <li class="nav-item text-center">
          <a  {% if request.path == '/hotel/table_qr/' %} class="nav-link active at_page" data-aos="fade-up" data-aos-duration="150" data-aos-delay="100" {% else %} class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="750" {% endif %}  aria-current="page" href="/hotel/table_qr/">Table Qr Code</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link active text-danger" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="550"  aria-current="page" href="/logout/">Logout</a>
        </li>
        <!-- <li class="nav-item text-center">
          <a class="nav-link active" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="550"  aria-current="page" href="/hotel/print_completed_bill/200">Test</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
{% remaining_bills hotel.id as remaining_bills %}
<div class="container">
  <p style="font-weight: 500;">{{hotel.hotel_name}}, <h class="{% if remaining_bills >= 50 %} text-success {% elif remaining_bills >= 10 %} text-danger {% else %} text-danger {% endif %}">शिल्लक बिले {{remaining_bills}}</h></p>
</div>