{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: +1231; position: absolute;top: 0; right: 0;left: 0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"><img data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200" style="width: 40px;height: 40px;border-radius: 50%;" src="{% static 'img/logo.jpg' %}" alt=""><b style="color: orangered;">Tej</b> Order</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" href="/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pricing/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="450">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact_us/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="450">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active login" aria-current="page" href="/login/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="550">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active sunil" aria-current="new-page" href="/sunil/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="650">Sunil Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active sunil" aria-current="new-page" href="https://old.tejorder.com" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="650">old</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>