{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div>welcome - {{w.name}}</div>
{% include 'include/waiter_menu.html' %}
<div class="container my-2">
    <div>
        <h5>Table-{{table.name}}</h5>
    </div>
<hr>


<table class="table">
    
    <tbody id="cart">
      {% for cart in cart %}
        <tr>
            <td>{{cart.item.marathi_name}}</td>
            <td>{{cart.qty}}</td>
            <td>{{cart.note}}</td>
            <td style="width: 150px;">{% if cart.cook_status == 'Pendding' %}<h4 class="text-bg-danger text-center">Pending</h4>{% else %}<h4 class="text-bg-success text-center ">{{cart.cook_status}}</h4>{% endif %}</td>
            <td></td>
            <td>{% if cart.cook_status == 'Pendding' %}<form action="" method="POST"><input type="hidden" name="cart_id" value="{{cart.id}}"><button type="submit" class="btn btn-danger btn-sm" name="Delete">X</button></form>{% else %}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>

<style>
    .body{
        display: grid;
        grid-template-columns: 0.1fr 1fr;
    }
</style>
<div class="body" id="body">
    <div class="flex" style="justify-content: start;flex-direction: column;">
        {% for c in category %}
          <button class="btn btn-primary" id="category_btn{{c.id}}" onclick="filterItems('{{ c.id }}')" >{{ c.name }}</button>
        {% endfor %}
    </div>

    <div>
    <style>
        .dish_main_box{
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px);
            gap: 20px;
            width: 80%;
            margin: auto;
            justify-content: center;
        }
        .dish_box{
          box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
          padding: 10px;
            border-radius: 10px;
            text-align: center;
            width: 200px;
        }
        .name{
            font-weight: 700px;
        }
        .flex{
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        .total_price{
            display: none;
        }
        </style>


<br>


<div class="dish_main_box" id="item_ruselt">
  {% for i in item %}

<input type="hidden" name="id" value="{{i.id}}">
<input type="hidden" name="price" value="{{i.price}}">
<div class="dish_box">
    <div class="name"><b>{{i.marathi_name}}</b></div>
    <div>
        <div><input type="text" name="" style="width: 180px; text-align: center; border: none;" placeholder="Note" id="note{{i.id}}"></div>
      <div class="row my-1 text-center">
        <div class="col-3"><button type="button" onclick="minus('{{i.id}}','{{i.price}}')" class="btn btn-success btn-sm px-3">-</button></div>
        <div class="col-5"><input type="text" name="qty" style="width: 50px; text-align: center;" id="qty{{i.id}}" value="1" ></div>
        <div class="col-3"><button type="button" onclick="plus('{{i.id}}','{{i.price}}')" class="btn btn-success btn-sm px-3">+</button></div>
    </div>
    <div class="flex">
        <div class="mt-2"  >Rs.<input style="border: none; width: 70px;" type="text" name="total_amount"  id="price{{i.id}}" value="{{i.price}}" ></div>
        <div style="width: 40%;"><button type="button" class="btn btn-danger btn-sm mt-2 mx-auto" onclick="add_to_cart('{{i.id}}', '{{i.price}}', '{{i.english_name}}')">Confirm </button></div>
      </div>
    </div>
</div>

{% endfor %}
</div>


</div>


</div>


<br><br><br><br><br>
<style>
    .footer{
        background-color: antiquewhite;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        display: flex;
        .input{
            width: 95%;
        }
  } 
  </style>

<div class="footer">
  <div class="input"><input type="text" placeholder="Search Iteams..." class="form-control" id="words" oninput="search_hotel_item()" required></div>
</div>

<script>
    
    function add_to_cart(id,price, name){
        var qty = document.getElementById('qty'+id).value
        var note = document.getElementById('note'+id).value
        p=qty*price
        $.ajax({
            url: "{% url 'add_item_to_hotel_cart' %}",
            method: "GET",
            data:{
                table_id:'{{table_id}}',
                item_id:id,
                price:price,
                qty:qty,
                total_amount:p,
                note:note,
                waiter_id : '{{w.id}}',
                hotel_id :'{{w.hotel_id}}'
            },
            success: function(res){
              document.getElementById('cart').innerHTML = res.t
              const msg = new SpeechSynthesisUtterance;
              msg.text=`${name} ${qty} Qty`;
              
              msg.voice=speechSynthesis.getVoices()[1];
              speechSynthesis.speak(msg);
            }
        })
    }
    last_category_id = ''
    function  filterItems(category_id){
      if (last_category_id){
        document.getElementById('category_btn'+last_category_id).className = "btn btn-primary"
      }
      document.getElementById('category_btn'+category_id).className = "btn btn-warning"
      last_category_id = category_id
        $.ajax({
            url: "{% url 'filter_items_by_category' %}",
            method: "GET",
            data: {
                category_id: category_id,
            },
  success: function(res) {
    document.getElementById('item_ruselt').innerHTML = res.t;
  }
});
}

function search_hotel_item(){
  $.ajax({
    url: "{% url 'search_hotel_item' %}",
    method: "GET",
    data:{
      words:document.getElementById('words').value,
      table_id:'{{table_id}}'
    },
    success: function(res){
      document.getElementById('item_ruselt').innerHTML = res.t
    }
  })
}

last_id = ''
function item_detail(id){
  document.getElementById('item_detail'+id).style.display = 'unset'
    if(last_id){
      if(document.getElementById('item_detail'+last_id)){
        document.getElementById('item_detail'+last_id).style.display = 'none'
      }
    }
    last_id = id

}

function plus(id,price){
  var qty = document.getElementById('qty'+id).value
  if(qty < 50){
    qty++;
  document.getElementById('qty'+id).value=qty;
  p=qty*price
  document.getElementById('price'+id).value=p;
    //speak code
    
  const msg = new SpeechSynthesisUtterance;
  msg.text=qty;
  
  msg.voice=speechSynthesis.getVoices()[1];
  speechSynthesis.speak(msg);


//ajax
 


  }
}
    
  // minus btn code

    function minus(id,price){
  var qty = document.getElementById('qty'+id).value
  if(qty > 1){
  qty--;
  document.getElementById('qty'+id).value=qty;
  p=qty*price
  document.getElementById('price'+id).value=p;

        //speak code
    
        const msg = new SpeechSynthesisUtterance;
  msg.text=qty;
  
  msg.voice=speechSynthesis.getVoices()[1];
  speechSynthesis.speak(msg);
  }
  if(qty == 0){
    document.getElementById('item_detail'+id).style.display = 'none'

  }
    }

</script>


{% endblock content %}