{% extends 'home/base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}

{% block content %}
{% include 'include/alert.html' %}

{% load hotel_tag %}

<style>
    body{
        position: relative;
    }
    /* .img{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background: url('https://qul.imgix.net/150ee868-a39f-434d-b2d9-ccb750f515b6/438489_sld.jpg') no-repeat center center;
    filter: blur(5px);
    top:0;

    }
    .img2{
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100vh;
    background: url('https://qul.imgix.net/150ee868-a39f-434d-b2d9-ccb750f515b6/438489_sld.jpg') no-repeat center center;
    filter: blur(5px);
    bottom:0;

    } */
    .detail_box{
        background-color: rgb(255, 255, 255);
        width: fit-content;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset -2px 2px 10px #000;

    }
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'css/tost.css' %}">

<div class="img">

</div>
<div class="img2">

</div>
<div class="text-center detail_box">
    <b>{{hotel.hotel_name}}</b><br>
    <b>{{table.name}}</b>
</div>

<style>
    table{
        margin: auto;
    }
</style>
<table class="table">
    <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Qty</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
    <tbody id="cart">
      {% for t in customer_cart %}
        <tr>
            <td>{{t.item.marathi_name}} {{t.note}}</td>
            <td>{{t.qty}}</td>
            <td>{{t.price}}</td>
            <td>{{t.total_amount}}</td>
            <td style="width: 100px;"><h6 class="text-bg-danger text-center">Pending</h6>
            </td>
            <td>
                <form action="" method="POST"><input type="hidden" name="cart_id" value="{{t.id}}"><button type="submit" class="btn btn-danger btn-sm" name="delete_order">X</button></form>
            </td>
        </tr>
        {% endfor %}
        <hr>
      {% for t in hotel_cart %}
      <tr>
         
        <td>{{t.item.marathi_name}} {{t.note}}</td>
        <td>{{t.qty}}</td>
        <td>{{t.price}}</td>
        <td>{{t.total_amount}}</td>
        <td>{% if t.cook_status == 'Pendding' %}<h6 class="text-bg-info text-center">Waiter Acccepted</h6>{% else %}<h6 text-success class="text-bg-success text-center ">{{t.cook_status}}</h6>{% endif %}</td>
      </tr>
        {% endfor %}
    </tbody>
</table>
<b >Total Amount Rs.{{tp}}</b>

<style>
    .body{
        display: grid;
        grid-template-columns: 0.1fr 1fr;
    }
</style>
<div class="body">
    <div class="flex" style="justify-content: start;flex-direction: column;">
        {% for c in category %}
          <button class="btn btn-primary" id="category_btn{{c.id}}" style="box-shadow: -2px 2px 10px #ffffff;" onclick="filterItems('{{ c.id }}')" >{{ c.name }}</button>
        {% endfor %}
    </div>
    <div>
        <style>
            .errormodal_c{
                background-color: #00000054;
                z-index: +1;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                user-select: none;
                pointer-events: none;
            }
            .dish_main_box{
                padding: 10px;
                display: grid;
                grid-template-columns: repeat(auto-fit, 300px);
                gap: 10px;
                width: 80%;
                margin: auto;
                justify-content: center;
                align-items: center;
            }
            .dish_box{
                background-color: white;

                box-shadow:  -1px 1px 7px #000;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                width: 200px;
                overflow: hidden;
                height: fit-content;
                position: relative;


            }
            .name{
                font-weight: 700px;
            }
            .flex{
                display: flex;
                gap: 10px;
                justify-content: center;
            }
            .total_price{
                display: none;
            }
            .item_image_box{
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                overflow: hidden;
                height: 100px;
                text-align: center;
                position: absolute;
                img{
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                }
            }
            .note{
                text-align: center;
                width: 180px;
            }
            .no_image{
                width: 100px !important;
            }
            .minus_pluse_btns{
                font-size: 20px;
                font-weight: 800;
                width: 100%;
                padding-top: 0;
                outline: 0;
            }
            @media only screen and (max-width: 600px) {
                .dish_main_box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
            }
            </style>
        <div class="dish_main_box" id="item_ruselt">
            {% for i in item %}
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="hidden" name="price" value="{{i.price}}">
            <div class="dish_box">
                {% get_item_image_and_youtube_url i.id as item_image_and_youtube_url %}
                {% if item_image_and_youtube_url.image %}
                <div class="item_image_box">
                    <img src="{{item_image_and_youtube_url.image.url}}" loading="eager" alt="">
                </div>
                {% else %}
                <div class="item_image_box">
                    <img src="{% static 'img/dish.jpg' %}" class="no_image" alt="Image Not Available">
                </div>
                {% endif %}

                <br><br><br><br>
                <div class="name"><b>{{i.marathi_name}}</b></div>
                <div>
                    <div><input class="note" type="text" name="" style="width: 180px;" placeholder="Note" id="note{{i.id}}"></div>
                  <div class="row my-1 text-center">
                    <div class="col-3"><button type="button" onclick="minus('{{i.id}}','{{i.price}}')" class="minus_pluse_btns text-danger" >-</button></div>
                    <div class="col-5"><input type="text" name="qty" style="width: 50px; text-align: center;" id="qty{{i.id}}" value="1" ></div>
                    <div class="col-3"><button type="button" onclick="plus('{{i.id}}','{{i.price}}')" class="minus_pluse_btns text-success" >+</button></div>
                </div>
                <div class="flex">
                    <div class="mt-2"  >Rs.<input style="border: none; width: 70px;" type="text" name="total_amount"  id="price{{i.id}}" value="{{i.price}}" readonly></div>
                </div>
                <div style="width: 100%;"><button type="button" class="btn btn-danger btn-sm mx-auto" style="width: 100%;" onclick="add_to_cart()">ऑर्डर करा</button></div>
            </div>

            </div>

            {% endfor %}

              <!-- Modal -->
  <div class="modal fade" id="error_modal_t" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">    <b>{{table.name}}</b>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="location.reload()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <b>Time {{first_date}}</b>
<br>
              <b class="text-danger">This Table Is Already Running In Other Mobile</b>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="location.reload()" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
        </div>
    </div>

</div>




<div id="toastBox">
</div>
<script src="{% static 'js/toast.js' %}"></script>

<script>
    function add_to_cart(){
        d = document.createElement('div')
        d.classList.add('errormodal_c')
        document.getElementsByClassName('body')[0].appendChild(d);
        m = new bootstrap.Modal(document.getElementById('error_modal_t'))
        m.toggle();
    }
    last_category_id = ''
    function  filterItems(category_id){
        if (last_category_id){
        document.getElementById('category_btn'+last_category_id).className = "btn btn-primary"
      }
      document.getElementById('category_btn'+category_id).className = "btn btn-warning"
      last_category_id = category_id
        $.ajax({
            url: "{% url 'filter_items_by_category_customer_for_running' %}",
            method: "GET",
            data: {
                category_id: category_id,
            },
  success: function(res) {
    document.getElementById('item_ruselt').innerHTML = res.t;
  }
});
}
</script>

<br><br>
<br><br>
<br><br>
<footer style="margin-top: auto;margin-bottom: 0px;" >
    <div class="container">
        <p>&copy; 2025 Tej Order. All Rights Reserved.  <b>Total Scanned {{count}}</b></p>
    </div>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock content %}
